@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';
.search {
  position: relative;

  // input field
  &__input {
    color: colors.$primary-BrainFlix-Black;
    font-family: 'Avenir';
    font-weight: 700;
    font-style: bold;
    width: 100%;
    border-radius: 0.25rem;
    border: 0.0625rem solid colors.$secondary-Mercury;
    padding: 0.625rem 0rem 0.625rem 2.1875rem;
    background-color: rgba(246, 246, 246, 0.7);
    height: 2.25rem;
    font-size: 0.75rem;
      
    @include mixins.tablet {
      height: 2.5rem;
      width: 15rem;
    }

    @include mixins.desktop {
      height: 2.5rem;
      width: 15rem;
    }
  }

  &::placeholder {
    color: colors.$primary-BrainFlix-Black;
    margin-left: 2.5rem;
    font-size: 2.5rem;
  }

  // input icon
  &__icon {
    position: absolute;
    left: 0.625rem;
    top: 0.625rem;

  }
}