@use './styles/partials/typography';
@use './styles/partials/mixins';
@use './styles/partials/colors';

// ******** custom component stylings *********

// components container
.app {
  @include mixins.desktop {
    display: flex;
    width: 80%;
    margin: 0rem auto;
  }

  // video list component
  &__video-list {
    @include mixins.desktop {
      width: 31.25rem;
      padding-left: 0.5rem;
    }
  }

  // video-details components
  &__video-details {
    @include mixins.desktop {
      width: 100%;
    }     
  }

  // vertical divider
  &__vertical-divider {
    display: none;
    @include mixins.tablet {
      display: none;
    }
    @include mixins.desktop {
      display: block;
      border: 0.0625rem solid colors.$secondary-Mercury;
    }
  }  
}