@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';
.button {
  position: relative;

  // action button
  &__action {
    width: 100%;
    padding: 0;
    border-radius: 0.3125rem;
    border: none;
    text-transform: uppercase;
    color: colors.$primary-White;
    background-color: colors.$primary-BrainFlix-Blue;
    height: 2.5rem;
    @include mixins.bold;
    font-size: 0.75rem;

    @include mixins.tablet {
      width: 9.375rem;
    }
    
    @include mixins.desktop {
      width: 9.375rem;
    }
  }

  // button icon
  &__image {
    position: absolute;
    left: 0.625rem;
    bottom: 0.625rem;
    width: 1.0625rem;
    height: 1.25rem;
  }
}