@use '../../styles/partials/colors';
.button {
  position: relative;
  &__action {
    width: 100%;
    padding: 0;
    border-radius: 0.3125rem;
    border: none;
    text-transform: uppercase;
    color: colors.$primary-White;
    background-color: colors.$primary-BrainFlix-Blue;
    height: 40px;
    font-family: 'Avenir';
    font-weight: 700;
    font-style: bold;
    font-size: 11px;
  }

  &__image {
    position: absolute;
    left: 10px;
    bottom: 8px;
    width: 17px;
    height: 18px;
  }


}