@use '../../styles/partials/mixins';
@use '../../styles/partials/colors';
@use '../../styles/partials/typography';
.form {
  color: colors.$primary-BrainFlix-Black;

  &__container {
    max-width: 100%;
    @include mixins.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include mixins.desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 32px;
    }
  }

  &__avatar {
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    object-fit: cover;
  }


  &__wrapper {
    display: flex; 

    @include mixins.tablet {
      flex-basis: 100px;
      flex-grow: 1;
      flex-shrink: 0;
    }
    @include mixins.desktop {
      flex-basis: 100px;
      flex-grow: 1;
      flex-shrink: 0;
    }
    
  }

  &__avatar {
    padding-top: 20px;
    @include mixins.tablet {
      padding-right: 5px;
    }
    @include mixins.desktop {
      padding-right: 5px;
    }
  }
  &__label {
    font-weight: 700;
    font-style: bold;
    font-family: "Avenir";
    text-transform: uppercase;
    color: colors.$primary-Silver;
    font-size: 12px; 
    display: block;
    padding-bottom: 0.25rem;
    

  }

  &__description {
    width: 100%;
    height: 95px;
    border-radius: 0.3125rem;
    border: 0.0625rem solid colors.$secondary-Mercury;
    background-color: rgba(246, 246, 246, 0.7);
    padding: 8px 0px 0px 10px;
    

    &::placeholder { 
      font-family: 'Avenir';
      font-weight: 400;
      width: 100%;
      font-size: 12px;
      color: colors.$primary-BrainFlix-Black; 
      
      @include mixins.tablet {
        font-size: 14px;
      }
      @include mixins.desktop {
        font-size: 14px;
      }
    }

    @include mixins.tablet {
      height: 40px;
    }
    @include mixins.desktop {
      height: 40px;
    }
    
  }
  &__text-area {
    padding-left: 16px;
    padding-bottom: 8px;
    width: 100%;

    @include mixins.tablet {
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 24px;     
    }
    @include mixins.desktop {
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 24px;     
    }
  }

  &__button {
    padding-left: 3.125rem;
    padding-bottom: 16px;

    @include mixins.tablet {
     padding-left: 0px;   
    }
    @include mixins.desktop {
     padding-left: 0px;   
    }
  }
  

  
}