@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';
@use '../../styles/partials/colors';

.text-area {
  // form text-area
    padding: 0rem 0rem 0.5rem 1rem;  
    width: 100%;

    @include mixins.tablet {
      padding: 0rem 1.5rem 1.5rem 1.5rem;    
    }
    @include mixins.desktop {
      padding: 0rem 1.5rem 1.5rem 2.5rem;       
    }

    &__label {
    @include mixins.bold;
    text-transform: uppercase;
    color: colors.$primary-Silver;
    font-size: 0.75rem; 
    display: block;
    padding-bottom: 0.25rem;

    }
  
}