// ************* mobile *************
$mobile_breakpoint: 767px;

// ******** tablet **********
$minimim-tablet_breakpoint: 768px;
$maximim-tablet_breakpoint: 1279px;

// ************** desktop ***********
$minumum-desktop_breakpoint: 1280px;
