
//******** Regular fonts **********
@font-face {
  font-family: "Avenir";
  src: url('../../assets/fonts/AvenirNextLTPro-Regular.woff') format("woff"),
  url('../../assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// **************** Bold Fonts ****************
@font-face {
  font-family: "Avenir";
  src: url('../../assets/fonts/AvenirNextLTPro-Bold.woff') format("woff"),
  url('../../assets/fonts/AvenirNextLTPro-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: bold;
}