@use '../../styles/partials/globals';
@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';
.video-upload {
  padding: 0px 16px;
  font-family: "Avenir";

  @include mixins.tablet {
    padding: 0px 36px;
  }

  // divider
  &__divider {
    border: 1px solid colors.$secondary-Mercury;
    &--desktop {
      display: none;
      @include mixins.tablet {
        display: block;
      }
      @include mixins.desktop {
        display: block;
      }
    }
  }

  // title
  &__title {
    @include mixins.bold;
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: capitalize;
    font-size: 24px;

    @include mixins.tablet {
      font-size: 33px;
      padding-top: 36px;
      padding-bottom: 24px;
    }
    @include mixins.desktop {
      font-size: 33px;
      padding-top: 36px;
      padding-bottom: 24px;
      width: 80%;
      margin: auto
    }
  }

  // thumbnail label
  &__label {
    @include mixins.bold;
    text-transform: uppercase;
    color: colors.$primary-Silver;
    font-size: 0.75rem; 
    display: block;
    padding-bottom: 5px;

    @include mixins.tablet {
      padding-top: 24px;
    }
    @include mixins.desktop {
      padding-top: 24px;
    }
  }

    // thumbnail wrapper div
    &__label-thumbnail {
      @include mixins.desktop {
        flex-basis: 0px;
        flex-grow: 1;
        flex-shrink: 0;
      }
    }

  // thumbnail
  &__thumbnail {
    background-image: url('../../assets/images/Upload-video-preview.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px  ;
    margin-bottom: 16px; 
    border-radius: 4px;

    @include mixins.tablet {
      height: 200px;
      max-width: 350px;
    }
    @include mixins.desktop {
      height: 170px;
      max-width: 330px;
    }
  }

  // publish button and cancel button container
  &__button-cancel {

    @include mixins.tablet {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      padding-top: 24px;
    }
    @include mixins.desktop {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      padding-top: 24px;
      width: 80%;
      margin: auto;
    }
  }

  // input fields wrapper
  &__input-wrapper {
    @include mixins.desktop {
      flex-basis: 280px;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  // input field wrapper
  &__input {
    padding-bottom: 16px;
  }
  
    // input field
  &__description {
    width: 100%;
    border-radius: 0.3125rem;
    border: 0.0625rem solid colors.$secondary-Mercury;
    background-color: rgba(246, 246, 246, 0.7);
    padding: 0.5rem 0rem 0px 0.625rem;
    resize: none;
    
    // input place holder
    &::placeholder { 
      @include mixins.regular;
      width: 100%;
      font-size: 13px;
      color: colors.$primary-Black; 
      
      @include mixins.tablet {
        font-size: 0.875rem;
      }
      @include mixins.desktop {
        font-size: 0.875rem;
      }
    }
  }
  
  // form submisssion button
  &__button {
    padding-top: 8px;
    padding-bottom: 40px;

    @include mixins.tablet {
      padding: 0px;
    }
    @include mixins.desktop {
      padding: 0px;
    }
  }

  // cancel button wrapper
  &__cancel-wrapper {  
    text-decoration: none;
  }

  // cancel button
  &__cancel {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    color: colors.$primary-Blue;
    background-color: colors.$primary-White;
    @include mixins.bold;

    @include mixins.tablet {
      text-align: left;
      padding-right: 80px;
    } 
    @include mixins.desktop {
      text-align: left;
      padding-right: 80px;
    } 
  }

  // thumbnail and input  fields container
  &__container {
    @include mixins.desktop {
      display: flex;
      align-items: flex-end;
      width: 100%;
      width: 80%;
      margin: auto;
      padding-bottom: 16px;

    }
  } 
}