@use './styles/partials/typography';
@use './styles/partials/mixins';
@use './styles/partials/colors';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  @include mixins.flex(center);
  font-size: calc(0.625rem + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// ******** custom component stylings *********

// components container
.app {
  @include mixins.desktop {
    display: flex;
    width: 80%;
    margin: 0rem auto;
  }

  // video list component
  &__video-list {
    @include mixins.desktop {
      width: 31.25rem;
      padding-left: 0.5rem;
    }
  }

  // video-details components
  &__video-details {
    @include mixins.desktop {
      width: 100%;
    }     
  }

  // vertical divider
  &__vertical-divider {
    display: none;
    @include mixins.tablet {
      display: none;
    }
    @include mixins.desktop {
      display: block;
      border: 0.0625rem solid colors.$secondary-Mercury;
    }
   
    

  }
  
}