// primary colors

$primary-Black: #323232;
$primary-Blue: #0095FF;
$primary-Silver: #AFAFAF;
$primary-White: #FFFFFF;


// secondary colors
$secondary-DarkBlack: #000000;
$secondary-DarkBlue: #0065AD;
$secondary-Mercury: #E1E1E1;
$secondary-Alabaster: #FAFAFA;


