// ************* mobile *************
$mobile_breakpoint: 47.9375rem;

// ******** tablet **********
$minimim-tablet_breakpoint: 48rem;
$maximim-tablet_breakpoint: 79.9375rem;

// ************** desktop ***********
$minumum-desktop_breakpoint: 80rem;
