@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.video {
  font-family: "Avenir";
  
  // video details container
  &__details-container {
    padding: 14px 16px 14px 16px;

    @include mixins.tablet {
      padding: 24px 36px;
    }

    @include mixins.desktop {
      // margin-left: auto;
      // width: 80%;
      padding: 36px 0px;
    }
  }


  // // video container
  // &__container {
  //   background-color: colors.$secondary-BrainFlix-DarkBlack;
  //   width: 100%;
  //   height: 0;
  //   padding-bottom: 56.25%;
  //   position: relative;
  // }

  // // video player
  // &__player {
  //   width: 100%; 
  //   height: 100%;
  //   position: absolute;
  // }

  // video title
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;   
    padding-bottom: 16px;

    @include mixins.tablet {
      font-size: 33px;
      padding-bottom: 16px;
    }
    @include mixins.desktop {
      font-size: 33px;
      padding-bottom: 16px;
    }
  }

  // video divider
  &__divider {
    height: 1px;
    border: none;
    width: 100%;
    background: colors.$secondary-Mercury;

    &--tablet-desktop {
      @include mixins.tablet {
        display:none
      }
      @include mixins.desktop {
        display:none
      }
    }
  }

  // timestamp and channel wrapper
  &__channel-time-wrapper { 
    padding-right: 25%;

    @include mixins.tablet {
      display: flex;
      justify-content: space-between;
      padding-right: 0px;
    }
    @include mixins.desktop {
      display: flex;
      justify-content: space-between;
      padding-right: 0px;
    }
    
  }

  &__views-likes-wrapper {
    @include mixins.tablet {
      display: flex;
      justify-content: space-between;
    }
    @include mixins.desktop {
      display: flex;
      justify-content: space-between;
      padding-right: 32px;
    }
  }


  // channel
  &__channel {
    font-size: 13px;
    font-weight: 700;
    font-style: bold;
    padding-bottom: 16px;

    @include mixins.tablet {
      padding-bottom: 0px;
      padding-right: 40px;
      font-size: 14px;
    }
    @include mixins.desktop {
      padding-bottom: 0px;
      padding-right: 40px;
      font-size: 14px;
    }
  }

  // elements with similar styling
  // date,views, likes
  &__tags {
    font-size: 12px;
    color: colors.$primary-Silver;
    font-style: normal;
    font-weight: 400;

    @include mixins.tablet {
      font-size: 14px;
    }
    @include mixins.desktop {
      font-size: 14px;
    }
  }

  //likes and views & corresponding icons wrapper
  &__info-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 16px 0px 16px 0px;

    @include mixins.tablet {
      justify-content: space-between;
      padding: 0px 0px 8px 0px;
    }
    @include mixins.desktop {
      justify-content: space-between;
      padding: 0px 0px 8px 0px;
    }
  }

  // icons
  &__icon {
    border: none;
    background-color: colors.$primary-White;
    padding-right: 8px;
    height: 10px;
  }
  &__icon > img {
    height: 15px;
  }

  // likes and views & corresponding icons individual container
  &__number-icon {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;

    @include mixins.tablet {
      padding-bottom: 0;
      
    }
    @include mixins.desktop {
      padding-bottom: 0;
      
    }

    &--likes {
      padding-bottom: 0;

      @include mixins.tablet {
        padding-left: 40px;
      }
      @include mixins.desktop {
        padding-left: 40px;
      }
    }
  }

  // video description
  &__description {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    padding: 16px 0px 16px 0px;

    @include mixins.tablet {
      font-size: 14px;
      line-height: 22px;
      padding: 24px 0px 24px 0px;
    }
    @include mixins.desktop {
      font-size: 14px;
      line-height: 22px;
      padding: 24px 32px 24px 0px;
    }
  }


  // ********** video comments *********

  // video comments number
  &__comment-number{
    font-size: 13px;
    font-weight: 700;
    font-style: bold;
    padding-bottom: 24px;

    @include mixins.tablet {
      padding-top: 8px;
    }
    @include mixins.desktop {
      padding-top: 8px;
    }
  }

  &__comments {
    padding: 16px 0px 16px 0px;
    
    @include mixins.tablet {
      padding: 24px 0px 24px 0px;
      
    }
    @include mixins.desktop {
      padding: 24px 32px 24px 0px;
      
    }
  }

  // video comments avatar
  &__comments-avatar {
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    background-color: colors.$secondary-Mercury;
    border: none;

    @include mixins.tablet {
      width: 40px;
      height: 40px;
    }
    @include mixins.desktop {
      width: 40px;
      height: 40px;
    }
  }

  // avatar, name , date container
  &__comments-avatar-name-date-container{
    display: flex;
    justify-content: space-between;
    height: 24px;

  }

  // avatar and name container
  &__comments-avatar-name-container {
    display: flex;
  }

  // commenter's name
  &__comments-name {
    padding-left: 16px;
  }

  // comment description
  &__comments-description {
    padding-left: 50px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;

    @include mixins.tablet {
      padding-left: 55px;
      font-size: 14px;
      line-height: 22px;
    }
    @include mixins.desktop {
      padding-left: 55px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  
}